* {margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: white;
    
}
#personal__logo {
    width: 100px;
    height: 100px;
    
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100px;
    padding: 0 20px;

}
.nav__link--list {display: flex;
   
   
   
}
.nav__link {
    display: flex;
    text-align: center;
    padding: 12px 40px;
    justify-content: center;
    width: 100%;
    transition: all 300ms ease;
}
.nav__hover {
    position: relative;
}
.nav__hover:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    background-color: black;
    width: 0;
   right: 0;
   transition: all 300ms ease;
}
.nav__hover:hover:after {
   left: 0;
    width: 100%;
}

.nav__anchor {
    display: flex;
    cursor: pointer;
    padding: 12px 40px;
    align-items: center;
    border: 2px solid #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: white;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .35s ease;
    width: 100%;
}
.meat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    
}
.starter{display: flex;
   justify-content: center;
   align-items: center;
    font-size: 20px;
    margin-top: 20px;
}
.movie__bars{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
   
    

}
.row{
    width: 100%;
}
.first {transition: all 300ms ease;
    background-color: aquamarine;
    
}
.first:hover {
    background-color: purple;
    transform: scale(1.1);
}
#movie__pic {
    display: flex;

}
.movie__container{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
